.nav__full_container{
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    left: 0;
}

.nav__container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item_container{
    display: flex;
    align-items: center;
}

.nav__item_container a{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--tertiary-color);
}

.nav__item_container a:nth-child(2){
    margin: 0 1.5rem;
}