.card__container{
    width: 30%;
    margin: auto;
    border-radius: 1.5rem;
    overflow: hidden;
    margin-top: 1rem;
    box-shadow: -7px 5px 23px -3px rgba(0,0,0,0.64);
    -webkit-box-shadow: -7px 5px 23px -3px rgba(0,0,0,0.64);
    -moz-box-shadow: -7px 5px 23px -3px rgba(0,0,0,0.64);
}

.card__title_container{
    background-color: var(--secondary-color);
    padding: 1.4rem 0;
}

.card__title_sub_container{
    margin: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__title_sub_container h2{
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.card__title_sub_container img{
    width: 1.2rem;
    cursor: pointer;
}

.card__title_sub_container img:first-child{
    width: .7rem;
}

/* active station */

.active__station_container{
    display: grid;
    place-items: center;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    padding: 1.4rem 0;
}

.active__station_container p{
    font-size: 1.6rem;
}

.active__station_container p:first-child{
    color: var(--secondary-color);
    font-size: 1rem;
}