.list__item_container{
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    cursor: pointer;
}

.list__item_sub_container{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem;
}

.list__item_container p{
    font-size: 1.4rem;
}