.auth__form{
   width: 40%;
   margin: auto;
   display: grid;
   place-items: center;
   margin-top: 2.5rem;
}

.auth__social__icon_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.auth__social__icon_container button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem 1.2rem;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
}

.auth__social__icon_container button:last-child{
    margin-top: .5rem;
}

.auth__social__icon_container svg{
    font-size: 1.2rem;
    margin-right: .3rem;
}

.auth__any__account{
    display: block;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.3rem;
}