:root{
  --primary-color: #2F2F3A;
  --secondary-color: #EDAD61;
  --tertiary-color: #A4AEC0;
}


*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* button */

.primary__btn{
  padding: .5rem 2rem;
  background-color: var(--secondary-color);
  font-size: 1.3rem;
  color: white;
  border: none;
  border-radius: .8rem;
  cursor: pointer;
}